{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "account/sub_nav.html" %}
        <div class="span12">
            {% include "admin/sub_nav.html" %}

            Username: <br>

            <input id="username" type="text" placeholder="Enter Username">

            <br><br>

            <select id="mid">
                {% for mid in mid_count %}
                <option id = "{{ mid.board_id }}">
                    {{ mid.board__mid }}-{{mid.mcount}}
                </option>
                {% endfor %}
            </select>
            <br>
            <button id="update-btn" class="btn btn-primary" onclick="updateMID()"> Update MID </button>
        </div>
    </div>

    <script type="text/javascript">
        
    function updateMID() {
            $("#update-btn").prop('disabled',true);
            var BASE_URL = window.location.origin;  
            var username = $("#username").val();
            var board_id = $("#mid").children(":selected").attr("id");

            if(username == "")
            {
                alert("Username field must not be empty");
                return;
            }

            var request = $.ajax({
                url:BASE_URL + "/admin/updatemid",
                method : "POST",
                data : {
                    "username" : username,
                    "board_id" : board_id
                }
            });

            request.done(function(data){
                if(data.status_code == 200) {
                    alert(data.message);
                    location.reload();
                }
                else {
                    alert(data.message);
                    $("#update-btn").prop('disabled',false);
                }                
            });


    }

    </script>
</div>
{% endblock %}