{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "account/sub_nav.html" %}
        <div style="margin-left: 30px">
            {% include "admin/sub_nav.html" %}
            <h1>Board status</h1>
        </div>
        <div class="span7">
            <table class="table table-bordered" id="tableId">
                <thead>
                    <tr>
                        <th>Board MID</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in boards %}
                    <tr>
                        <td>{{ b.mid }}</td>
                        <td><span class="label label-{% if b.online %}success{% else %}important{% endif %}">{% if b.online %}Online{% else %}Offline{% endif %}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span5">    
            <div>
                <input type="text" id="temp" readonly="true"><br/>
                <button class="btn btn-primary" onclick="getTemp()">Get Temperature</button>
            </div>
            <br><br>

            <form name="set" action="" method="POST">
                <div>
                    Heater Input: <input type="number" size="3" min="0" max="250" name="Heater_Input"><br/>
                    Fan Input:<input type="number" size="3" min="0" max="250" name="Fan_Input" style="margin-left: 20px"><br/>
                    <input type="submit" class="btn btn-primary" value="Set Parameters">
                    <br><br>
                </div>
            </form>
            <br><br>

            <form name="reset" action="" method="POST">
                <div>
                    <input type="submit" class="btn btn-primary" value="Reset Parameters">
                </div>
            </form>

        </div>

    </div>
</div>
<style type="text/css">
    .highlight {
        background-color: lightblue;
    }
</style>
<script>
    var selected_mid = -1;
    function addRowHandlers() {
        var table = document.getElementById("tableId");
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler = 
            function(row) 
            {
                return function() { 
                    var cell = row.getElementsByTagName("td")[0];
                    selected_mid = cell.innerHTML;
                };
            };
            currentRow.onclick = createClickHandler(currentRow);
        }
    }
    function getTemp() {
        document.getElementById("field2").value = 0;
    }
    $("#tableId").on("click", "tr", function(e) {
        $("#tableId").find("tr.highlight").removeClass("highlight");
        $(this).addClass("highlight");
    });
    addRowHandlers();
</script>

{% endblock %}
